<main>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h2>Lista de Logs</h2>
            <hr>
            <a href="/rota_logs/logs/add">
                <button class="btn btn-success">Novo Log</button></a>
            {{#each logs}}
            <div class="card mt-4">
                <div class="card-body">
                    <h4><b>ID:</b>{{_id}}</h4>
                    <small><b>Título:</b> {{titulo}} </small><br>
                    <small><b>Conteúdo:</b> {{conteudo}} </small><br>
                    <!--Botão para editar logs-->
                    <a href="/rota_logs/editar_logs/{{_id}}">
                        <button class="btn btn-success mt-3">
                            Editar logs
                        </button>
                    </a>
                    <a href="/rota_logs/deletar_logs/{{_id}}">
                        <button class="btn btn-danger mt-3">
                            Deletar logs
                        </button>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</main>